h1{
    color:blue

}
    
section{
    text-align: center;

}
img{
    width: 100em;
    height: 20em;
}

#img2{
    width: 100px;
    height: 100px;
}
h2{
    text-align: right;
}