Header{
padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius:  35px;
}
.header__input .material-icons {
  border: none;
  background-color: transparent;
  padding-top: 3px ;
  
}

