html{
background-image: url(images/fond.jpg);
background-repeat: no-repeat;
background-size: cover ;
}
body{
font-family: Times, serif;
color: rgb(255, 255, 255);
width: 100%;

}
.header{
    width: 98%;
    background-color: aqua;
    height: 3em;
    margin-left: 8px;
    margin-right: 8px;
}
.citation{
    background-color: white;
     display: flex;
    flex-direction: row;
    width: 80%;
    height: 10em;
    margin-left: 8em;
    margin-top: 6em;
}
#sous-titre{
    text-align: center;
    color: aqua;
    font-family: Times, serif;
}
#titre{
    text-align: center;
    font-size: 2em;
    padding-top: 10px;
}
.citation p{
   
    font-size: 26px;
  width: 35em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;
  line-height: 1.2;
  color:black;
}
.citation img{
 width: 10em;
 height: 10em;
 margin-left: 3em;
}